extends layout.pug

block append save
  li#save-btn.navbarBtn
    a.navbarBtnLink.navbarText #{T('Save')}

block content
  #root(data-item-short=itemShort data-universe-short=universeShort)
  script(src='/static/editor/bundle.js')
