extends layout.pug

block append save
  li#save-btn.navbarBtn
  li#preview-btn.navbarBtn

block content
  #root(
    data-display-universe=displayUniverse
    data-addr-prefix=ADDR_PREFIX
    data-domain=DOMAIN
    data-provider-address=PROVIDER_ADDRESS
  )
  script(src='/static/editor/bundle.js')
