style
  if theme.glass
    .
      .error {
        margin-bottom: -1rem;
      }
    if theme.background || theme.backgroundImage
      .
        .card.item-type {
          backdrop-filter: blur(1rem);
          background-color: color-mix(in srgb, var(--page-color), transparent 38%);
        }
  if theme.background
    .
      header, body::before {
        background: #{theme.background};
      }
  if theme.backgroundImage
    .
      header, body {
        background-image: url('#{theme.backgroundImage}');
      }
    if !theme.glass
      .
        main {
          text-shadow: 0.0625rem 0.0625rem 0.125rem var(--sheet-color), 0 0 0.5rem var(--page-color), 0.0625rem 0 0.125rem var(--page-color);
        }
        .sheet {
          text-shadow: none;
        }
